<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> 
    <script src="/js/check.js"></script> 
  </head>
  <body>
    <h1>Welcome <%= username %></h1>
    <p class="info">You are now logged in.  Now try logging in on a different browser or location and see yourself logged out.</p>
    <p class="info">This page should log you out automatically.  You may also <a href="/logout">Logout</a> manually.<p>
  </body>
</html>
