<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome <%= username %></h1>
    <p class="info">You are now logged in.  Now try logging in on a different browser or location and see yourself logged out.</p>
    <p class="info">You may also just <a href="/logout">Logout</a> here.<p>
  </body>
</html>
