body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
label {
  color: #666;
  display: block;
  font-size: small;
}
.info {
  color: #999;
  margin-right: 40px;
  font-size: small;
  border-bottom: 1px solid #eee;
  padding: 0 10px 10px 0;
}
.login-failure {
  background-color: #fee;
  border: 1px solid #d00;
  color: #f00;
  padding: 10px;
  margin: 0px 40px 30px 0px;
}
.login-failure h4 {
  font-weight: 600;
  padding: 0px 0px 5px 0px;
  margin: 0px;
}
.login-failure p {
  font-weight: 200;
  padding: 0px 0px 0px 10px;
  margin: 0px;
  font-size: small;
}
input {
  color: #333;
  display: block;
  font-size: large;
  margin-bottom: 20px;
}
